# Unüberwachtes Lernen und Kundensegmentierung mit Spark

## Import the library and open a Spark session

In [1]:
import findspark

In [2]:
findspark.init("/opt/manual/spark")

In [3]:
from pyspark.sql import SparkSession, functions as F
import pandas as pd
import warnings

warnings.filterwarnings("ignore", category=FutureWarning)

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [4]:
spark = SparkSession.builder \
.appName("Clustering_KMeans") \
.master("local[*]") \
.config("spark.sql.shuffle.partitions", "2") \
.getOrCreate()

## Read Data

In [5]:
df = spark.read.format("csv") \
.option("header", True) \
.option("delimiter", "|") \
.option("inferSchema", True) \
.load("/user/train/datasets/flo100k1.csv")

In [6]:
df.persist()

DataFrame[master_id: string, order_channel: string, platform_type: string, last_order_channel: string, first_order_date: timestamp, last_order_date: timestamp, last_order_date_online: timestamp, last_order_date_offline: timestamp, order_num_total_ever_online: double, order_num_total_ever_offline: double, customer_value_total_ever_offline: double, customer_value_total_ever_online: double, interested_in_categories_12: string, online_product_group_amount_top_name_12: string, offline_product_group_name_12: string, last_order_date_new: string, store_type: string]

## Data Exploration

In [7]:
df.limit(5).toPandas()

,master_id,order_channel,platform_type,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,online_product_group_amount_top_name_12,offline_product_group_name_12,last_order_date_new,store_type
0,b3ace094-a17f-11e9-a2fc-000d3a38a36f,Offline,Offline,Offline,2019-02-23 12:59:17,2019-02-23 12:59:17,NaT,2019-02-23 12:59:17,NaN,1.0,212.98,0.00,None,None,None,2019-02-23,A
1,c57d7c4c-a950-11e9-a2fc-000d3a38a36f,Offline,OmniChannel,Offline,2019-12-01 16:48:09,2019-12-01 16:48:09,NaT,2019-12-01 16:48:09,NaN,1.0,199.98,0.00,None,None,None,2019-12-01,A
2,602897a6-cdac-11ea-b31f-000d3a38a36f,Offline,Offline,Offline,2020-07-24 15:49:47,2020-07-24 15:49:47,NaT,2020-07-24 15:49:47,NaN,1.0,140.49,0.00,[ERKEK],None,ERKEK,2020-07-24,A
3,388e4c4e-af86-11e9-a2fc-000d3a38a36f,Mobile,Online,Mobile,2018-12-31 07:22:07,2018-12-31 07:22:07,2018-12-31 07:22:07,NaT,1.0,NaN,0.00,174.99,None,None,None,2018-12-31,A
4,80664354-adf0-11eb-8f64-000d3a299ebf,Desktop,Online,Desktop,2021-05-05 21:07:02,2021-05-05 22:39:36,2021-05-05 22:39:36,NaT,2.0,NaN,0.00,283.95,[],None,None,2021-05-05,A

In [8]:
df.printSchema()

root
 |-- master_id: string (nullable = true)
 |-- order_channel: string (nullable = true)
 |-- platform_type: string (nullable = true)
 |-- last_order_channel: string (nullable = true)
 |-- first_order_date: timestamp (nullable = true)
 |-- last_order_date: timestamp (nullable = true)
 |-- last_order_date_online: timestamp (nullable = true)
 |-- last_order_date_offline: timestamp (nullable = true)
 |-- order_num_total_ever_online: double (nullable = true)
 |-- order_num_total_ever_offline: double (nullable = true)
 |-- customer_value_total_ever_offline: double (nullable = true)
 |-- customer_value_total_ever_online: double (nullable = true)
 |-- interested_in_categories_12: string (nullable = true)
 |-- online_product_group_amount_top_name_12: string (nullable = true)
 |-- offline_product_group_name_12: string (nullable = true)
 |-- last_order_date_new: string (nullable = true)
 |-- store_type: string (nullable = true)

last_order_date_new: Wird als String angezeigt, sollte jedoch ein Timestamp sein. Da diese Variable für die weitere Analyse nicht relevant ist, kann sie so bleiben.

In [9]:
df_count = df.count()
print(f"Anzahl der gesamten Beobachtungen:", df_count)

Anzahl der gesamten Beobachtungen: 100000

In [10]:
num_variables = len(df.columns)
print(f"Anzahl der Variablen: {num_variables}")

Anzahl der Variablen: 17

## Missing value check

In [11]:
df.select("interested_in_categories_12").show()

+---------------------------+
|interested_in_categories_12|
+---------------------------+
|                       null|
|                       null|
|                    [ERKEK]|
|                       null|
|                         []|
|                       null|
|                [AKTIFSPOR]|
|         [KADIN, AKTIFSPOR]|
|             [ERKEK, KADIN]|
|                         []|
|                    [KADIN]|
|                       null|
|                       null|
|                       null|
|        [AKTIFCOCUK, KADIN]|
|                       null|
|                         []|
|                [AKTIFSPOR]|
|                       null|
|                       null|
+---------------------------+
only showing top 20 rows

In [12]:
def null_count(df, col_name):
    nc = df.select(col_name).filter(
        (F.col(col_name) == "NaN") |
        (F.col(col_name) == "NaT") |
        (F.col(col_name) == "[]") |
        (F.col(col_name) == "") |
        (F.col(col_name).isNull())
                        ).count()
    return nc

In [13]:
for col_name in df.dtypes:
    nc = null_count(df, col_name[0])
    
    if nc > 0:
        print("{} has {} null values, or {:.2f}%.".format(col_name[0], nc, (nc/df_count)*100))

last_order_date_online has 70784 null values, or 70.78%.
last_order_date_offline has 21703 null values, or 21.70%.
order_num_total_ever_online has 70784 null values, or 70.78%.
order_num_total_ever_offline has 21703 null values, or 21.70%.
interested_in_categories_12 has 62371 null values, or 62.37%.
online_product_group_amount_top_name_12 has 88295 null values, or 88.30%.
offline_product_group_name_12 has 77209 null values, or 77.21%.

## Data Analysis

Ist die Variable `master_id` unique?:

In [14]:
unique_count = df.select("master_id").distinct().count()

if unique_count == df_count:
    print ("master_id is unique")
else: 
    print("master_id is not unique")

master_id is unique

## Data Unterstanding

Beobachtungen werden nach `platform_type` und `order_channel` gezählt und sortiert.:

In [15]:
df.groupBy("platform_type", "order_channel").count().orderBy(F.desc("count")).show()

+-------------+-------------+-----+
|platform_type|order_channel|count|
+-------------+-------------+-----+
|      Offline|      Offline|65991|
|       Online|  Android App| 8728|
|       Online|       Mobile| 6451|
|  OmniChannel|      Offline| 4793|
|  OmniChannel|  Android App| 3261|
|       Online|      Desktop| 3253|
|       Online|      Ios App| 3008|
|  OmniChannel|       Mobile| 2061|
|  OmniChannel|      Desktop| 1498|
|  OmniChannel|      Ios App|  956|
+-------------+-------------+-----+

## Create new columns

Omnichannel-Kunden nutzen sowohl Online- als auch Offline-Plattformen für ihre Einkäufe.

Der Datentyp der Spalten `order_num_total_ever_online` und `order_num_total_ever_offline` wird von `double` auf `integer` geändert, um NaN-Werte bei der Erstellung der neuen Variable `NEW_order_num_total` zu vermeiden.

In [16]:
df.select("order_num_total_ever_online", "order_num_total_ever_offline").printSchema()

root
 |-- order_num_total_ever_online: double (nullable = true)
 |-- order_num_total_ever_offline: double (nullable = true)

In [17]:
df1 = df.withColumn("order_num_total_ever_online", F.when(F.col("order_num_total_ever_online").isNull(), 0).otherwise(F.col("order_num_total_ever_online"))) \
          .withColumn("order_num_total_ever_online", F.col("order_num_total_ever_online").cast("int")) \
         .withColumn("order_num_total_ever_offline", F.when(F.col("order_num_total_ever_offline").isNull(), 0).otherwise(F.col("order_num_total_ever_offline"))) \
          .withColumn("order_num_total_ever_offline", F.col("order_num_total_ever_offline").cast("int"))

In [18]:
# Kontrolle:

df1.select("order_num_total_ever_online", "order_num_total_ever_offline").printSchema()

root
 |-- order_num_total_ever_online: integer (nullable = true)
 |-- order_num_total_ever_offline: integer (nullable = true)

In [19]:
df1 = df.na.fill(value=0,
                subset=["order_num_total_ever_online", "order_num_total_ever_offline"])

**Alternative: Fehlende Werte durch den Mittelwert ersetzen.**

Zunächst werden die Mittelwerte für jede betroffene Spalte berechnet:

```python
from pyspark.sql.functions import expr

df.selectExpr("AVG(order_num_total_ever_offline)").show()
df.selectExpr("AVG(order_num_total_ever_online)").show()
df.selectExpr("AVG(customer_value_total_ever_offline)").show()
df.selectExpr("AVG(customer_value_total_ever_online)").show()
```

Anschließend werden die berechneten Mittelwerte für die fehlenden Werte verwendet:

```python
df1 = df.withColumn(
    "customer_value_total_ever_online",
    F.when(F.col("customer_value_total_ever_online") == "NA", 120).otherwise(F.col("customer_value_total_ever_online"))
).withColumn(
    "customer_value_total_ever_offline",
    F.when(F.col("customer_value_total_ever_offline") == "NA", 172).otherwise(F.col("customer_value_total_ever_offline"))
).withColumn(
    "order_num_total_ever_online",
    F.when(F.col("order_num_total_ever_online") == "NA", 3).otherwise(F.col("order_num_total_ever_online"))
).withColumn(
    "order_num_total_ever_offline",
    F.when(F.col("order_num_total_ever_offline") == "NA", 2).otherwise(F.col("order_num_total_ever_offline"))
)
```

In [20]:
df1.limit(5).toPandas()

,master_id,order_channel,platform_type,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,online_product_group_amount_top_name_12,offline_product_group_name_12,last_order_date_new,store_type
0,b3ace094-a17f-11e9-a2fc-000d3a38a36f,Offline,Offline,Offline,2019-02-23 12:59:17,2019-02-23 12:59:17,NaT,2019-02-23 12:59:17,0.0,1.0,212.98,0.00,None,None,None,2019-02-23,A
1,c57d7c4c-a950-11e9-a2fc-000d3a38a36f,Offline,OmniChannel,Offline,2019-12-01 16:48:09,2019-12-01 16:48:09,NaT,2019-12-01 16:48:09,0.0,1.0,199.98,0.00,None,None,None,2019-12-01,A
2,602897a6-cdac-11ea-b31f-000d3a38a36f,Offline,Offline,Offline,2020-07-24 15:49:47,2020-07-24 15:49:47,NaT,2020-07-24 15:49:47,0.0,1.0,140.49,0.00,[ERKEK],None,ERKEK,2020-07-24,A
3,388e4c4e-af86-11e9-a2fc-000d3a38a36f,Mobile,Online,Mobile,2018-12-31 07:22:07,2018-12-31 07:22:07,2018-12-31 07:22:07,NaT,1.0,0.0,0.00,174.99,None,None,None,2018-12-31,A
4,80664354-adf0-11eb-8f64-000d3a299ebf,Desktop,Online,Desktop,2021-05-05 21:07:02,2021-05-05 22:39:36,2021-05-05 22:39:36,NaT,2.0,0.0,0.00,283.95,[],None,None,2021-05-05,A

Die Spalten `order_num_total_ever_online` und `order_num_total_ever_offline` wurden erneut automatisch als `double` formatiert.

In [21]:
# Neue Variable erstellen:

df1 = df1.withColumn('NEW_order_num_total',
                   df1.order_num_total_ever_online + df1.order_num_total_ever_offline)\
        .withColumn('NEW_customer_value_total', 
                   df1.customer_value_total_ever_offline + df1.customer_value_total_ever_online)

In [22]:
df1.limit(5).toPandas()

,master_id,order_channel,platform_type,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,online_product_group_amount_top_name_12,offline_product_group_name_12,last_order_date_new,store_type,NEW_order_num_total,NEW_customer_value_total
0,b3ace094-a17f-11e9-a2fc-000d3a38a36f,Offline,Offline,Offline,2019-02-23 12:59:17,2019-02-23 12:59:17,NaT,2019-02-23 12:59:17,0.0,1.0,212.98,0.00,None,None,None,2019-02-23,A,1.0,212.98
1,c57d7c4c-a950-11e9-a2fc-000d3a38a36f,Offline,OmniChannel,Offline,2019-12-01 16:48:09,2019-12-01 16:48:09,NaT,2019-12-01 16:48:09,0.0,1.0,199.98,0.00,None,None,None,2019-12-01,A,1.0,199.98
2,602897a6-cdac-11ea-b31f-000d3a38a36f,Offline,Offline,Offline,2020-07-24 15:49:47,2020-07-24 15:49:47,NaT,2020-07-24 15:49:47,0.0,1.0,140.49,0.00,[ERKEK],None,ERKEK,2020-07-24,A,1.0,140.49
3,388e4c4e-af86-11e9-a2fc-000d3a38a36f,Mobile,Online,Mobile,2018-12-31 07:22:07,2018-12-31 07:22:07,2018-12-31 07:22:07,NaT,1.0,0.0,0.00,174.99,None,None,None,2018-12-31,A,1.0,174.99
4,80664354-adf0-11eb-8f64-000d3a299ebf,Desktop,Online,Desktop,2021-05-05 21:07:02,2021-05-05 22:39:36,2021-05-05 22:39:36,NaT,2.0,0.0,0.00,283.95,[],None,None,2021-05-05,A,2.0,283.95

Kontrolle: 

Es dürfen keine Nullwerte in den Spalten `order_num_total_ever_online`, `order_num_total_ever_offline`, `customer_value_total_ever_offline`, `customer_value_total_ever_online`, `NEW_order_num_total` und `NEW_customer_value_total` auftreten.

In [23]:
for col_name in df1.dtypes:
    nc = null_count(df1, col_name[0])
    
    if nc > 0:
        print("{} has {} null values, or {:.2f}%.".format(col_name[0], nc, (nc/df_count)*100))

last_order_date_online has 70784 null values, or 70.78%.
last_order_date_offline has 21703 null values, or 21.70%.
interested_in_categories_12 has 62371 null values, or 62.37%.
online_product_group_amount_top_name_12 has 88295 null values, or 88.30%.
offline_product_group_name_12 has 77209 null values, or 77.21%.

## Analysis `order_channel`

Die Verteilung der Gesamtzahl der Kunden, der durchschnittlich erhaltenen Produkte und der Einnahmen nach Kanälen (`order_channel`) wird betrachtet.

In [24]:
df1.groupby("order_channel").agg(
    F.count("master_id").alias("count(master_id)"),
    F.mean("NEW_order_num_total").alias("avg_NEW_order_num_total"),
    F.mean("NEW_customer_value_total").alias("avg_NEW_customer_value_total"),
    F.sum("NEW_customer_value_total").alias("sum_NEW_customer_value_total")
).show()

+-------------+----------------+-----------------------+----------------------------+----------------------------+
|order_channel|count(master_id)|avg_NEW_order_num_total|avg_NEW_customer_value_total|sum_NEW_customer_value_total|
+-------------+----------------+-----------------------+----------------------------+----------------------------+
|      Offline|           70784|     1.6003475361663653|           218.1639484912399|        1.5442516930003924E7|
|      Ios App|            3964|      3.377648839556004|           568.4640312815313|            2253391.41999999|
|       Mobile|            8512|      2.798637218045113|           391.7418761748067|          3334506.8499999545|
|      Desktop|            4751|      2.538623447695222|          376.91355504104155|          1790716.2999999884|
|  Android App|           11989|       3.50971724080407|           532.8462840937418|            6388294.09999987|
+-------------+----------------+-----------------------+----------------------------+----------------------------+

## Analysis `platform_type`

Die Verteilung der Gesamtzahl der Kunden, der durchschnittlich erhaltenen Produkte und der Einnahmen auf den verschiedenen Plattformen wird betrachtet.

In [25]:
df1.groupby("platform_type").agg(
    F.count("master_id").alias("count(master_id)"),
    F.mean("NEW_order_num_total").alias("avg_NEW_order_num_total"),
    F.mean("NEW_customer_value_total").alias("avg_NEW_customer_value_total"),
    F.sum("NEW_customer_value_total").alias("sum_NEW_customer_value_total")
).show()

+-------------+----------------+-----------------------+----------------------------+----------------------------+
|platform_type|count(master_id)|avg_NEW_order_num_total|avg_NEW_customer_value_total|sum_NEW_customer_value_total|
+-------------+----------------+-----------------------+----------------------------+----------------------------+
|      Offline|           65991|     1.5837917291751906|          215.73030686007337|        1.4236258680003101E7|
|  OmniChannel|           12569|     3.4947092051873656|           500.7937512928511|           6294476.659999846|
|       Online|           21440|     2.6207089552238805|           404.7896576492577|           8678690.260000085|
+-------------+----------------+-----------------------+----------------------------+----------------------------+

## Calculation of K-Means Metrics

### RFM

In [26]:
rfm = df1.select(["master_id", "last_order_date_new", "NEW_order_num_total", "NEW_customer_value_total"])

In [27]:
rfm.limit(5).toPandas()

,master_id,last_order_date_new,NEW_order_num_total,NEW_customer_value_total
0,b3ace094-a17f-11e9-a2fc-000d3a38a36f,2019-02-23,1.0,212.98
1,c57d7c4c-a950-11e9-a2fc-000d3a38a36f,2019-12-01,1.0,199.98
2,602897a6-cdac-11ea-b31f-000d3a38a36f,2020-07-24,1.0,140.49
3,388e4c4e-af86-11e9-a2fc-000d3a38a36f,2018-12-31,1.0,174.99
4,80664354-adf0-11eb-8f64-000d3a299ebf,2021-05-05,2.0,283.95

In [28]:
from pyspark.sql.functions import max

In [29]:
last_order_date = df1.select(max("last_order_date")).collect()[0][0]

In [30]:
print("Das Datum des letzten Kaufs ist:", last_order_date)

Das Datum des letzten Kaufs ist: 2021-05-30 23:07:54

### Recency

Die `Recency`-Spalte wird berechnet, indem die Anzahl der Tage zwischen `last_order_date_new` und `last_date_order` ermittelt und um 2 Tage erhöht wird.

In [31]:
from pyspark.sql.functions import expr

In [32]:
rfm1 = rfm.withColumn("Recency", F.expr(f"datediff('{last_order_date}', last_order_date_new) + 2"))

rfm1.limit(5).toPandas()

,master_id,last_order_date_new,NEW_order_num_total,NEW_customer_value_total,Recency
0,b3ace094-a17f-11e9-a2fc-000d3a38a36f,2019-02-23,1.0,212.98,829
1,c57d7c4c-a950-11e9-a2fc-000d3a38a36f,2019-12-01,1.0,199.98,548
2,602897a6-cdac-11ea-b31f-000d3a38a36f,2020-07-24,1.0,140.49,312
3,388e4c4e-af86-11e9-a2fc-000d3a38a36f,2018-12-31,1.0,174.99,883
4,80664354-adf0-11eb-8f64-000d3a299ebf,2021-05-05,2.0,283.95,27

## Frequency and Monetary

In [33]:
rfm2 = (rfm1.withColumnRenamed("NEW_order_num_total", "Frequency") 
      .withColumnRenamed("NEW_customer_value_total", "Monetary")
      .drop("last_order_date_new"))

In [34]:
rfm2.limit(5).toPandas()

                              master_id  Frequency  Monetary  Recency
0  b3ace094-a17f-11e9-a2fc-000d3a38a36f        1.0    212.98      829
1  c57d7c4c-a950-11e9-a2fc-000d3a38a36f        1.0    199.98      548
2  602897a6-cdac-11ea-b31f-000d3a38a36f        1.0    140.49      312
3  388e4c4e-af86-11e9-a2fc-000d3a38a36f        1.0    174.99      883
4  80664354-adf0-11eb-8f64-000d3a299ebf        2.0    283.95       27

## Model Preparation

### Vector Assembler

Da rfm_cols = [`Frequency`, `Monetary`, `Recency`] bereits numerische Variablen sind, sind OneHotEncoder und StringIndexer nicht nötig. Es kann direkt der VectorAssembler verwendet werden.

In [35]:
rfm_cols = rfm2.columns[1:]

In [36]:
from pyspark.ml.feature import VectorAssembler

In [37]:
assembler =  VectorAssembler() \
              .setHandleInvalid("skip") \
              .setInputCols(rfm_cols) \
              .setOutputCol("unscaled_features")

### Feature Scaler

In [38]:
from pyspark.ml.feature import StandardScaler

In [39]:
scaler = StandardScaler() \
.setInputCol("unscaled_features") \
.setOutputCol("features")

### Pipeline

In [40]:
from pyspark.ml import Pipeline

In [41]:
pipeline_obj = Pipeline().setStages([assembler, scaler])

In [42]:
pipeline_model = pipeline_obj.fit(rfm2)

In [43]:
pipeline_df = pipeline_model.transform(rfm2)

In [44]:
pipeline_df.limit(5).toPandas()

,master_id,Frequency,Monetary,Recency,unscaled_features,features
0,b3ace094-a17f-11e9-a2fc-000d3a38a36f,1.0,212.98,829,"[1.0, 212.98, 829.0]","[0.32770120750468895, 0.4598810576445158, 3.24..."
1,c57d7c4c-a950-11e9-a2fc-000d3a38a36f,1.0,199.98,548,"[1.0, 199.98, 548.0]","[0.32770120750468895, 0.43181056393910355, 2.1..."
2,602897a6-cdac-11ea-b31f-000d3a38a36f,1.0,140.49,312,"[1.0, 140.49, 312.0]","[0.32770120750468895, 0.30335566620564386, 1.2..."
3,388e4c4e-af86-11e9-a2fc-000d3a38a36f,1.0,174.99,883,"[1.0, 174.99, 883.0]","[0.32770120750468895, 0.37785043796231493, 3.4..."
4,80664354-adf0-11eb-8f64-000d3a299ebf,2.0,283.95,27,"[2.0, 283.95, 27.0]","[0.6554024150093779, 0.6131243605886011, 0.105..."

## K-Means clustering model

Die optimale Anzahl an Clustern ermitteln.:

In [45]:
from pyspark.ml.clustering import KMeans

In [46]:
def compute_kmeans_model(df, k):
    kmeansObject = KMeans() \
    .setSeed(142) \
    .setK(k)
    
    return kmeansObject.fit(df)

### Evaluator

In [47]:
from pyspark.ml.evaluation import ClusteringEvaluator

In [48]:
evaluator = ClusteringEvaluator()

In [49]:
for k in range(2,11):
    kmeans_model = compute_kmeans_model(pipeline_df, k)
    
    transformed_df = kmeans_model.transform(pipeline_df)
    
    score = evaluator.evaluate(transformed_df)
    
    print("k: {}, score: {}".format(k, score))

k: 2, score: 0.9995403313147956
k: 3, score: 0.5306747271448232
k: 4, score: 0.6705260499487317
k: 5, score: 0.6839227157177052
k: 6, score: 0.6561488711873166
k: 7, score: 0.5487474862203171
k: 8, score: 0.5154402600591739
k: 9, score: 0.5690643226674137
k: 10, score: 0.55055801154429

## Prediction

In [50]:
kmeans_model = compute_kmeans_model(pipeline_df, 5)

In [51]:
transformed_df = kmeans_model.transform(pipeline_df)

In [52]:
transformed_df.limit(100).toPandas()

,master_id,Frequency,Monetary,Recency,unscaled_features,features,prediction
0,b3ace094-a17f-11e9-a2fc-000d3a38a36f,1.0,212.98,829,"[1.0, 212.98, 829.0]","[0.32770120750468895, 0.4598810576445158, 3.24...",0
1,c57d7c4c-a950-11e9-a2fc-000d3a38a36f,1.0,199.98,548,"[1.0, 199.98, 548.0]","[0.32770120750468895, 0.43181056393910355, 2.1...",0
2,602897a6-cdac-11ea-b31f-000d3a38a36f,1.0,140.49,312,"[1.0, 140.49, 312.0]","[0.32770120750468895, 0.30335566620564386, 1.2...",4
3,388e4c4e-af86-11e9-a2fc-000d3a38a36f,1.0,174.99,883,"[1.0, 174.99, 883.0]","[0.32770120750468895, 0.37785043796231493, 3.4...",0
4,80664354-adf0-11eb-8f64-000d3a299ebf,2.0,283.95,27,"[2.0, 283.95, 27.0]","[0.6554024150093779, 0.6131243605886011, 0.105...",4
5,47511f36-aeb4-11e9-a2fc-000d3a38a36f,1.0,139.98,933,"[1.0, 139.98, 933.0]","[0.32770120750468895, 0.30225443914489303, 3.6...",0
6,77f7c318-3407-11eb-9a15-000d3a38a36f,1.0,269.90,182,"[1.0, 269.9, 182.0]","[0.32770120750468895, 0.5827866346992902, 0.71...",4
7,399d6dd2-ecf1-11ea-9369-000d3a38a36f,1.0,95.73,272,"[1.0, 95.73, 272.0]","[0.32770120750468895, 0.20670679710916284, 1.0...",4
8,b3d4a6f2-a368-11e9-a2fc-000d3a38a36f,3.0,207.94,250,"[3.0, 207.94, 250.0]","[0.9831036225140668, 0.44899834316180215, 0.97...",4
9,42fdccd4-f1d1-11ea-bde9-000d3a38a36f,1.0,134.95,226,"[1.0, 134.95, 226.0]","[0.32770120750468895, 0.2913933173496451, 0.88...",4
10,071b497c-a5d2-11e9-a2fc-000d3a38a36f,7.0,399.94,71,"[7.0, 399.94, 71.0]","[2.293908452532823, 0.8635779425032757, 0.2781...",1
11,47d99768-30ea-11ea-b884-000d3a38a36f,2.0,304.89,667,"[2.0, 304.89, 667.0]","[0.6554024150093779, 0.6583394481417806, 2.613...",0
12,f879c85e-5322-11ea-acd3-000d3a38a36f,1.0,100.49,488,"[1.0, 100.49, 488.0]","[0.32770120750468895, 0.21698491634283687, 1.9...",0
13,cfb38c70-b1e7-11e9-89fa-000d3a38a36f,3.0,208.96,507,"[3.0, 208.95999999999998, 507.0]","[0.9831036225140668, 0.4512007972833037, 1.986...",0
14,96cae10c-bbd1-11ea-9a91-000d3a38a36f,2.0,359.96,335,"[2.0, 359.96, 335.0]","[0.6554024150093779, 0.7772503780154001, 1.312...",4
15,20df63fa-5411-11ea-b1db-000d3a38a36f,1.0,39.99,501,"[1.0, 39.99, 501.0]","[0.32770120750468895, 0.08634915717534129, 1.9...",0
16,757fc81a-7378-11ea-92d0-000d3a38a36f,2.0,630.94,67,"[2.0, 630.94, 67.0]","[0.6554024150093779, 1.3623690229609862, 0.262...",4
17,c9fcbc34-d739-11ea-aceb-000d3a38a36f,1.0,289.99,300,"[1.0, 289.99, 300.0]","[0.32770120750468895, 0.626166343817885, 1.175...",4
18,9f44ad8c-21fc-11ea-ba6f-000d3a38a36f,1.0,189.99,788,"[1.0, 189.99, 788.0]","[0.32770120750468895, 0.4102394691608675, 3.08...",0
19,3fcf9680-9765-11ea-a9c8-000d3a38a36f,1.0,89.99,385,"[1.0, 89.99, 385.0]","[0.32770120750468895, 0.19431259450385002, 1.5...",4
20,40416b44-a2ff-11e9-a2fc-000d3a38a36f,1.0,259.90,802,"[1.0, 259.9, 802.0]","[0.32770120750468895, 0.5611939472335884, 3.14...",0
21,bb0f9ef4-5b05-11ea-b898-000d3a38a36f,1.0,100.73,471,"[1.0, 100.73, 471.0]","[0.32770120750468895, 0.21750314084201372, 1.8...",0
22,64c54112-af0a-11ea-b736-000d3a38a36f,2.0,110.95,351,"[2.0, 110.95, 351.0]","[0.6554024150093779, 0.2395708674319609, 1.375...",4
23,ba94ea90-9fb4-11e9-a2fc-000d3a38a36f,3.0,577.30,462,"[3.0, 577.3, 462.0]","[0.9831036225140668, 1.2465458473949618, 1.810...",0
24,19ddb2d6-a710-11e9-a2fc-000d3a38a36f,4.0,678.42,131,"[4.0, 678.42, 131.0]","[1.3108048300187558, 1.464891103048138, 0.5132...",1
25,16a9326e-2629-11ea-8e1c-000d3a38a36f,1.0,139.99,605,"[1.0, 139.99, 605.0]","[0.32770120750468895, 0.3022760318323588, 2.37...",0
26,56788052-733f-11eb-a9a7-000d3a38a36f,1.0,115.86,103,"[1.0, 115.86, 103.0]","[0.32770120750468895, 0.2501728769776205, 0.40...",4
27,f7c00a62-d691-11e9-93bc-000d3a38a36f,1.0,29.99,643,"[1.0, 29.99, 643.0]","[0.32770120750468895, 0.06475646970963954, 2.5...",0
28,3ad5da12-a26b-11e9-a2fc-000d3a38a36f,1.0,149.99,812,"[1.0, 149.99, 812.0]","[0.32770120750468895, 0.32386871929806055, 3.1...",0
29,0beee1e6-5baf-11ea-b67a-000d3a38a36f,3.0,378.95,354,"[3.0, 378.95, 354.0]","[0.9831036225140668, 0.8182548915127678, 1.386...",4
30,cbb599ca-8d41-11ea-8f41-000d3a38a36f,1.0,531.30,394,"[1.0, 531.3, 394.0]","[0.32770120750468895, 1.1472194850527337, 1.54...",4
31,7e02591e-602a-11ea-8dd8-000d3a38a36f,2.0,454.10,31,"[2.0, 454.1, 31.0]","[0.6554024150093779, 0.9805239378175165, 0.121...",4
32,253a88ee-5b05-11ea-a29d-000d3a38a36f,1.0,149.99,518,"[1.0, 149.99, 518.0]","[0.32770120750468895, 0.32386871929806055, 2.0...",0
33,d46060ca-2eda-11ea-8467-000d3a38a36f,1.0,9.99,563,"[1.0, 9.99, 563.0]","[0.32770120750468895, 0.021571094778236048, 2....",0
34,3476dda8-d328-11ea-9838-000d3a38a36f,1.0,399.99,305,"[1.0, 399.99, 305.0]","[0.32770120750468895, 0.8636859059406042, 1.19...",4
35,d35c13f2-5b50-11ea-ab87-000d3a38a36f,3.0,566.87,348,"[3.0, 566.87, 348.0]","[0.9831036225140668, 1.224024674368235, 1.3634...",4
36,380ff71c-62dd-11ea-a6dc-000d3a38a36f,1.0,120.49,451,"[1.0, 120.49, 451.0]","[0.32770120750468895, 0.26017029127424035, 1.7...",0
37,8f701e1e-b1f9-11e9-89fa-000d3a38a36f,1.0,99.99,679,"[1.0, 99.99, 679.0]","[0.32770120750468895, 0.21590528196955178, 2.6...",0
38,fcd0b928-17d8-11eb-8d74-000d3a38a36f,1.0,234.98,217,"[1.0, 234.98, 217.0]","[0.32770120750468895, 0.5073849700690597, 0.85...",4
39,f89a81ae-46e1-11ea-b6c0-000d3a38a36f,4.0,449.96,545,"[4.0, 449.96000000000004, 545.0]","[1.3108048300187558, 0.971584565206716, 2.1352...",0
40,ba0047ee-27ab-11ea-aaaa-000d3a38a36f,1.0,34.99,678,"[1.0, 34.99, 678.0]","[0.32770120750468895, 0.07555281344249042, 2.6...",0
41,2bd9485e-788a-11eb-b011-000d3a38a36f,1.0,90.88,95,"[1.0, 90.88, 95.0]","[0.32770120750468895, 0.19623434368829748, 0.3...",4
42,087904cc-15e8-11ea-aa74-000d3a38a36f,1.0,134.98,568,"[1.0, 134.98, 568.0]","[0.32770120750468895, 0.29145809541204215, 2.2...",0
43,9c31de7c-812c-11eb-b416-000d3a38a36f,1.0,98.98,84,"[1.0, 98.98, 84.0]","[0.32770120750468895, 0.2137244205355159, 0.32...",4
44,96fabb0e-6350-11ea-a6dc-000d3a38a36f,2.0,340.46,447,"[2.0, 340.46, 447.0]","[0.6554024150093779, 0.7351446374572816, 1.751...",0
45,dda66796-a90c-11e9-a2fc-000d3a38a36f,7.0,754.98,977,"[7.0, 754.98, 977.0]","[2.293908452532823, 1.6302047182855506, 3.8277...",0
46,28920010-46b1-11eb-806e-000d3a38a36f,3.0,710.21,158,"[3.0, 710.21, 158.0]","[0.9831036225140668, 1.533534256501604, 0.6190...",4
47,15e196a4-2e95-11ea-bfbd-000d3a38a36f,1.0,159.99,556,"[1.0, 159.99, 556.0]","[0.32770120750468895, 0.3454614067637623, 2.17...",0
48,5580aa22-5bcf-11ea-94f8-000d3a38a36f,1.0,143.48,472,"[1.0, 143.48, 472.0]","[0.32770120750468895, 0.30981187975788865, 1.8...",0
49,1d9dbc44-a71b-11e9-a2fc-000d3a38a36f,11.0,1242.02,291,"[11.0, 1242.02, 291.0]","[3.6047132825515784, 2.6818549686150885, 1.140...",1
50,b2c5f80c-1a8f-11eb-8d74-000d3a38a36f,1.0,339.99,214,"[1.0, 339.99, 214.0]","[0.32770120750468895, 0.7341297811463937, 0.83...",4
51,d05810c6-9808-11ea-9d91-000d3a38a36f,2.0,99.99,198,"[2.0, 99.99, 198.0]","[0.6554024150093779, 0.21590528196955178, 0.77...",4
52,63c1d284-5baf-11ea-b4c5-000d3a38a36f,1.0,49.99,500,"[1.0, 49.99, 500.0]","[0.32770120750468895, 0.10794184464104305, 1.9...",0
53,a0f44b3e-5671-11ea-b9b9-000d3a38a36f,1.0,197.98,541,"[1.0, 197.98, 541.0]","[0.32770120750468895, 0.4274920264459632, 2.11...",0
54,bcf2eaaa-2ebe-11ea-97cb-000d3a38a36f,3.0,833.94,179,"[3.0, 833.94, 179.0]","[0.9831036225140668, 1.8007005785147316, 0.701...",1
55,40f97cb0-a288-11e9-a2fc-000d3a38a36f,3.0,229.97,306,"[3.0, 229.97, 306.0]","[0.9831036225140668, 0.4965670336487431, 1.198...",4
56,ef379f9a-9ef4-11eb-9c47-000d3a38a36f,1.0,69.29,42,"[1.0, 69.29, 42.0]","[0.32770120750468895, 0.14961573144984744, 0.1...",4
57,990b3efa-a13b-11e9-a2fc-000d3a38a36f,1.0,49.99,833,"[1.0, 49.99, 833.0]","[0.32770120750468895, 0.10794184464104305, 3.2...",0
58,7e9cc55e-8bb6-11eb-94b9-000d3a38a36f,1.0,170.97,70,"[1.0, 170.97, 70.0]","[0.32770120750468895, 0.36917017760110277, 0.2...",4
59,4bc0461c-707b-11ea-8369-000d3a38a36f,1.0,149.99,479,"[1.0, 149.99, 479.0]","[0.32770120750468895, 0.32386871929806055, 1.8...",0
60,b69f62fc-25f2-11ea-8e1c-000d3a38a36f,3.0,339.97,552,"[3.0, 339.97, 552.0]","[0.9831036225140668, 0.7340865957714624, 2.162...",0
61,e47e9db8-164e-11ea-aa74-000d3a38a36f,1.0,129.99,574,"[1.0, 129.99, 574.0]","[0.32770120750468895, 0.28068334436665704, 2.2...",0
62,c9449860-5279-11ea-956d-000d3a38a36f,1.0,89.99,492,"[1.0, 89.99, 492.0]","[0.32770120750468895, 0.19431259450385002, 1.9...",0
63,e15d4b08-c4e4-11ea-98f7-000d3a38a36f,2.0,360.72,327,"[2.0, 360.72, 327.0]","[0.6554024150093779, 0.7788914222627935, 1.281...",4
64,4acd8404-2043-11eb-b361-000d3a38a36f,2.0,713.40,207,"[2.0, 713.4, 207.0]","[0.6554024150093779, 1.5404223238031627, 0.811...",4
65,a27d4c60-5baa-11ea-89fd-000d3a38a36f,1.0,83.97,509,"[1.0, 83.97, 509.0]","[0.32770120750468895, 0.18131379664949757, 1.9...",0
66,6c94553e-7356-11eb-befc-000d3a38a36f,3.0,129.97,33,"[3.0, 129.97, 33.0]","[0.9831036225140668, 0.2806401589917256, 0.129...",4
67,c4095792-2749-11ea-aaaa-000d3a38a36f,3.0,174.93,632,"[3.0, 174.93, 632.0]","[0.9831036225140668, 0.3777208818375207, 2.476...",0
68,9b981f94-22f0-11ea-8523-000d3a38a36f,1.0,19.99,809,"[1.0, 19.99, 809.0]","[0.32770120750468895, 0.04316378224393779, 3.1...",0
69,e1b6d946-5bb4-11ea-ac11-000d3a38a36f,1.0,49.98,474,"[1.0, 49.98, 474.0]","[0.32770120750468895, 0.10792025195357734, 1.8...",0
70,9fe4904e-9f76-11e9-a2fc-000d3a38a36f,11.0,1142.60,285,"[11.0, 1142.6, 285.0]","[3.6047132825515784, 2.4671804698310815, 1.116...",1
71,5e3b8686-2a61-11ea-99b3-000d3a38a36f,1.0,239.97,745,"[1.0, 239.97, 745.0]","[0.32770120750468895, 0.5181597211144449, 2.91...",0
72,c03f9778-117f-11ea-9f3a-000d3a38a36f,1.0,154.98,570,"[1.0, 154.98, 570.0]","[0.32770120750468895, 0.33464347034344566, 2.2...",0
73,9227700c-2274-11eb-99f8-000d3a38a36f,1.0,103.99,204,"[1.0, 103.99, 204.0]","[0.32770120750468895, 0.22454235695583247, 0.7...",4
74,218f715c-5b3a-11ea-af96-000d3a38a36f,1.0,59.99,488,"[1.0, 59.99, 488.0]","[0.32770120750468895, 0.1295345321067448, 1.91...",0
75,9d47bfd0-cc1d-11ea-b305-000d3a38a36f,1.0,160.49,316,"[1.0, 160.49, 316.0]","[0.32770120750468895, 0.34654104113704737, 1.2...",4
76,95863c12-a820-11e9-a2fc-000d3a38a36f,1.0,104.97,56,"[1.0, 104.97, 56.0]","[0.32770120750468895, 0.22665844032747126, 0.2...",4
77,9add14b8-2748-11ea-aaaa-000d3a38a36f,5.0,950.67,6,"[5.0, 950.67, 6.0]","[1.6385060375234448, 2.052752019301868, 0.0235...",1
78,6d144fe4-e209-11e9-957d-000d3a38a36f,2.0,149.97,245,"[2.0, 149.97, 245.0]","[0.6554024150093779, 0.3238255339231291, 0.959...",4
79,cb509342-90cc-11eb-bae6-000d3a38a36f,1.0,119.99,64,"[1.0, 119.99, 64.0]","[0.32770120750468895, 0.2590906569009553, 0.25...",4
80,7d6d55c2-bc86-11ea-aa61-000d3a38a36f,1.0,109.98,334,"[1.0, 109.98, 334.0]","[0.32770120750468895, 0.23747637674778785, 1.3...",4
81,25752b2a-d69e-11e9-93bc-000d3a38a36f,1.0,84.97,642,"[1.0, 84.97, 642.0]","[0.32770120750468895, 0.18347306539606775, 2.5...",0
82,0f23caee-5ccf-11eb-8dbd-000d3a38a36f,1.0,119.97,130,"[1.0, 119.97, 130.0]","[0.32770120750468895, 0.25904747152602386, 0.5...",4
83,0a2beb9e-e2b2-11ea-8839-000d3a38a36f,1.0,159.99,280,"[1.0, 159.99, 280.0]","[0.32770120750468895, 0.3454614067637623, 1.09...",4
84,76ab65f4-f142-11e9-9346-000d3a38a36f,2.0,320.86,8,"[2.0, 320.86, 8.0]","[0.6554024150093779, 0.6928229700245063, 0.031...",4
85,99cb521a-2126-11ea-b50a-000d3a38a36f,1.0,99.99,638,"[1.0, 99.99, 638.0]","[0.32770120750468895, 0.21590528196955178, 2.4...",0
86,f172cbf4-c69b-11ea-9d14-000d3a38a36f,1.0,80.49,321,"[1.0, 80.49, 321.0]","[0.32770120750468895, 0.17379954141143336, 1.2...",4
87,f3741bbc-b226-11ea-b736-000d3a38a36f,3.0,503.71,347,"[3.0, 503.71, 347.0]","[0.9831036225140668, 1.0876452603348628, 1.359...",4
88,d8c73578-d801-11ea-aee7-000d3a38a36f,1.0,99.99,299,"[1.0, 99.99, 299.0]","[0.32770120750468895, 0.21590528196955178, 1.1...",4
89,1761d51c-51a8-11ea-a243-000d3a38a36f,1.0,119.99,544,"[1.0, 119.99, 544.0]","[0.32770120750468895, 0.2590906569009553, 2.13...",0
90,be18538e-22fc-11ea-8523-000d3a38a36f,3.0,320.72,223,"[3.0, 320.72, 223.0]","[0.9831036225140668, 0.6925206723999865, 0.873...",4
91,eb4e855c-5a56-11eb-9e65-000d3a38a36f,1.0,450.94,133,"[1.0, 450.94, 133.0]","[0.32770120750468895, 0.9737006485783546, 0.52...",4
92,afde8e88-3c8c-11ea-b550-000d3a38a36f,1.0,89.99,558,"[1.0, 89.99, 558.0]","[0.32770120750468895, 0.19431259450385002, 2.1...",0
93,f725c0fa-d18c-11ea-a46d-000d3a38a36f,1.0,31.99,307,"[1.0, 31.99, 307.0]","[0.32770120750468895, 0.06907500720277988, 1.2...",4
94,cafcc054-45d8-11ea-a691-000d3a38a36f,3.0,311.88,409,"[3.0, 311.88, 409.0]","[0.9831036225140668, 0.6734327366803061, 1.602...",4
95,cafc89e0-24a4-11ea-bf27-000d3a38a36f,1.0,59.99,637,"[1.0, 59.99, 637.0]","[0.32770120750468895, 0.1295345321067448, 2.49...",0
96,a1576ea4-1c3c-11ea-a490-000d3a38a36f,1.0,29.99,654,"[1.0, 29.99, 654.0]","[0.32770120750468895, 0.06475646970963954, 2.5...",0
97,cad2d5a6-51cb-11ea-a243-000d3a38a36f,4.0,370.46,148,"[4.0, 370.46, 148.0]","[1.3108048300187558, 0.7999226998543869, 0.579...",4
98,827a353a-5bf6-11ea-98c2-000d3a38a36f,2.0,167.98,188,"[2.0, 167.98, 188.0]","[0.6554024150093779, 0.3627139640488579, 0.736...",4
99,ffc2b7ae-2129-11ea-b50a-000d3a38a36f,2.0,209.97,587,"[2.0, 209.97, 587.0]","[0.6554024150093779, 0.4533816587173396, 2.299...",0

## Descriptive Statistic

In [53]:
from pyspark.sql.functions import sum, col, desc, mean, count

In [54]:
transformed_df.groupBy("prediction") \
  .agg(count("Monetary").alias('count'), \
       mean("Monetary").alias("avg_monetary"), \
       mean("Recency").alias("avg_recency"), \
       mean("Frequency").alias("avg_frequency")) \
  .sort(desc("avg_monetary")) \
  .show()

+----------+-----+------------------+------------------+------------------+
|prediction|count|      avg_monetary|       avg_recency|     avg_frequency|
+----------+-----+------------------+------------------+------------------+
|         3|    6| 31003.60666666667|             343.5|226.83333333333334|
|         2|  607|3211.2418945634286|185.09060955518945| 20.12685337726524|
|         1| 7973| 994.4762122162238|192.21020945691708| 6.118901291860028|
|         4|38165|255.77974950872283| 178.1563474387528| 1.742879601729333|
|         0|53249|176.21715243480713|  618.113729835302|1.4225243666547729|
+----------+-----+------------------+------------------+------------------+